
.form-container {
  margin-left: 12rem;
}

.form-btn {
  background-color: white;
  border: 1px solid;
  color: black;
  padding: 6px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2rem;
}

.form-fields {
  margin: 4rem 0rem;
}
