
.form-btn {
  background-color: white;
  border: 1px solid;
  color: black;
  padding: 6px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2rem;
}

.btn-active {
  background-color: #beb9b9;
}
